// colors
$light-background: #f5f5f5;
$blue-main-color: #3372df;
$text-color-dark: #363945;
$text-color-light: #ffffff;

// fonts
$main-font: "Roboto", sans-serif;

// fonts-settings
@mixin ligth-font {
  font-family: $main-font;
  font-weight: 100;
}

@mixin bold-font {
  font-family: $main-font;
  font-weight: 500;
}

@mixin strong-bold-font {
  font-family: $main-font;
  font-family: 700;
}
