/* start font style and another common style*/

$font:  'Roboto', sans-serif;
$textColor: white;

/* end font style*/


/**
    start Color palette
*/

/* ===== green button ===== */
$greenGradient: linear-gradient(to top, #00A13C, #00C746);
$borderStyleGreen: 1px solid #008C50;
$hoverColor: linear-gradient(to top, #00C946,#00E546);

/* =====  transparent button ====*/
$borderStyleGray: 2px #D8FCFF solid;
$transparentColor: transparent;

/**
    end Color palette
*/


/**
   start core style
 */
.commonStyle--button__green {
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: $greenGradient;
  color: $textColor;
  border: $borderStyleGreen;
  margin: 0;
  border-radius: 10px;
  font-size: 20px;
  padding:10px;
  min-width: 50%;
  cursor: pointer;
  font-family: $font;

  &:hover {
    background: $hoverColor;
  }
}

.commonStyle--button__transparent {
  margin-top: 30%;
  background-color: $transparentColor;
  border-radius: 11px;
  border: $borderStyleGray;
  padding: 13px;
  color: $textColor;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5%;
  font-family: $font;

  a {
    text-decoration: none;
    color: #D8FCFF
  }

  &:hover {
    border-color: #00E646;
     a {
      color: #00E646;
    }
  }

}
/*
    end core styles
*/
