/**
    mixins
*/
@mixin font-size($size, $weight) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

/**
    start Color palette
*/

$backgroundColor: white;
$textColor: #505050;
$textColorButton: #00C846;
$boxShadow: 0 0 10px rgba(0,0,0,0.5);
$textGreenText: #00C846;

/**
    endColor palette
*/

.commonStyle--modal__open {
  z-index: 999999;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 298px;
  height: 178px;
  background-color: $backgroundColor;
  border-radius: 10px;
  box-shadow: $boxShadow;
}
.commonStyle--modal__close {
  display: none !important;
}

.commonStyle--modal__header {
  border-radius: 10px;
  background-color: $backgroundColor;
  display: flex;
  justify-content: flex-end;
  padding-top: 4%;
  padding-right: 4%;


}

.commonStyle--modal__body  {
  p {
    margin-top: 1%;
    color: $textColor;
    @include font-size(17px, 400);
  }
}

.commonStyle--modal__footer  {
   p {
     color: $textGreenText;
     @include font-size(17px, 400);
   }
}
