.spinner {
  background-image: url('../../assets/img/spinner.svg');
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 42%;
  z-index: 15000;
  -moz-animation:spinoff .4s infinite ease-out;
  -webkit-animation:spinoff .4s infinite ease-out;
}

@-moz-keyframes spin {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
}