/**
    mixins
*/

@mixin font-size($size, $weight) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    //margin: 10%;
}


.promo {
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;


    &_latter {
        color: white;
    }
}


.tree{
    height: 100vh;
    width: 100%;
    background: white;


    &_latter {
        color: white;
    }
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
br {
    display: none;
}

.typewriter h3 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
